@import '../styles/variables.scss';

footer {
    background-color: $peach;
    height: 10dvh;
    
    .footer-container {
        display: flex;
        max-width: 1240px;
        margin: auto;
        justify-content: space-between;
        text-align: center;
        align-items: center;

        .footer-icons {
            margin-top: 5dvh;

            i {
                color: $secondaryGray;
                font-size: 1.2rem;
                gap: 3dvh;
                transition: color .8s;
            }

            i:hover {
                color: $primaryGreen;
                transform: scale(1.1);
            }
        }

        .footer-copyright {
            margin-top: 5dvh;

            p {
                color: $secondaryGray;
            }
        }
    }
}