@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
footer {
  background-color: #f68e5f;
  height: 10dvh;
}
footer .footer-container {
  display: flex;
  max-width: 1240px;
  margin: auto;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
footer .footer-container .footer-icons {
  margin-top: 5dvh;
}
footer .footer-container .footer-icons i {
  color: #f2f2f2;
  gap: 3dvh;
  transition: color 0.8s;
}
footer .footer-container .footer-icons i:hover {
  color: #23A455;
}
footer .footer-container .footer-copyright {
  margin-top: 5dvh;
}
footer .footer-container .footer-copyright p {
  color: #f2f2f2;
}

header {
  background-color: #F0C002;
}
header nav {
  display: flex;
  justify-content: space-between;
  max-width: 1240px;
  margin: auto;
  height: 10dvh;
}
header nav .nav-logo {
  margin-top: 3dvh;
}
header nav .nav-menu {
  display: flex;
  margin-top: 3dvh;
}
header nav .nav-menu .nav-list {
  display: flex;
  gap: 4dvh;
}
header nav .nav-menu .nav-list li {
  list-style: none;
}
header nav .nav-menu .nav-list li a {
  font-size: 1.3rem;
  color: #363636;
  transition: color 0.7s;
}
header nav .nav-menu .nav-list li a:hover {
  color: #23A455;
}
header nav .nav-btn {
  margin-top: 3dvh;
}
header nav .nav-btn button {
  height: 6dvh;
  width: 30dvh;
  border: solid 1px #282828;
  background-color: transparent;
  transition: color 0.7s;
  font-family: "Roboto", serif;
  color: #363636;
}
header nav .nav-btn button:hover {
  color: #23A455;
}
header .banner {
  filter: brightness(50%);
}

.treatments-background {
  background-color: #f2f2f2;
}
.treatments-background .treatments {
  display: flex;
  max-width: 1240px;
  margin: auto;
  padding-top: 15dvh;
}
.treatments-background .treatments h1 {
  text-align: center;
  margin-bottom: 2dvh;
  color: #363636;
  font-size: 1.7rem;
}
.treatments-background .treatments p {
  text-align: center;
  margin-bottom: 3dvh;
  color: #808285;
}
.treatments-background .treatments div {
  flex: 1;
}
.treatments-background .treatments .treatments-options {
  display: flex;
  flex-direction: column;
  margin-left: 5dvh;
  text-align: center;
}
.treatments-background .treatments .treatments-options h2 {
  color: #363636;
  font-size: 1.3rem;
}
.treatments-background .treatments .treatments-options p {
  color: #808285;
}
.treatments-background .treatments .treatments-options img {
  width: 20dvh;
  height: 20dvh;
  -o-object-fit: cover;
     object-fit: cover;
}
.treatments-background .treatments .treatments-options .depilacao {
  display: flex;
  flex-direction: row;
}
.treatments-background .treatments .treatments-options .drenagem-linfatica {
  display: flex;
  flex-direction: row;
}
.treatments-background .treatments .treatments-options .gordura-localizada {
  display: flex;
  flex-direction: row;
}

.estetica-background {
  display: flex;
  flex-direction: column;
  background-color: #fefaef;
  padding-bottom: 3dvh;
}
.estetica-background .estetica {
  display: flex;
  flex-direction: column;
  max-width: 1240px;
  margin: auto;
  text-align: center;
}
.estetica-background .estetica h3 {
  margin-top: 7dvh;
  margin-bottom: 5dvh;
  font-size: 1.5rem;
  color: #363636;
}
.estetica-background .estetica p {
  color: #808285;
  margin-bottom: 5dvh;
}
.estetica-background .estetica .card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3dvh;
}
.estetica-background .estetica .card-grid .card {
  box-shadow: 0px -1px 17px -4px rgba(0, 0, 0, 0.45);
  border-radius: 2dvh;
  overflow: hidden;
}
.estetica-background .estetica .card-grid .card img {
  transition: transform 0.8s;
  z-index: 8;
}
.estetica-background .estetica .card-grid .card img:hover {
  transform: scale(1.1);
}
.estetica-background .estetica .card-grid .card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.estetica-background .estetica .card-grid .card .card-body h4 {
  font-size: 1.3rem;
  color: #363636;
  margin-top: 2dvh;
}
.estetica-background .estetica .card-grid .card .card-body p {
  margin-top: 2dvh;
}
.estetica-background .estetica .card-grid .card .card-body button {
  margin: 0 auto;
  align-items: center;
  margin-bottom: 2dvh;
  height: 5dvh;
  width: 25dvh;
  border: none;
  border-radius: 2dvh;
  background-color: #f68e5f;
  color: #fff;
  transition: opacity 0.8s;
}
.estetica-background .estetica .card-grid .card .card-body button:hover {
  opacity: 50%;
}
.estetica-background .estetica button {
  height: 6dvh;
  width: 35dvh;
  margin: 0 auto;
  margin-top: 5dvh;
  border-radius: 3dvh;
  background-color: #f68e5f;
  color: #fff;
  transition: opacity 0.8s;
}
.estetica-background .estetica button:hover {
  opacity: 50%;
}

.procedimentos-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1240px;
  margin: auto;
}
.procedimentos-background h3 {
  margin-top: 5dvh;
  color: #363636;
  font-size: 1.5rem;
}
.procedimentos-background p {
  color: #808285;
  margin-top: 5dvh;
  margin-bottom: 5dvh;
}
.procedimentos-background .slider {
  margin: 0;
  width: 800px;
  height: 400px;
  overflow: hidden;
}
.procedimentos-background .slides {
  width: 400%;
  height: 400px;
  display: flex;
}
.procedimentos-background .slides input {
  display: none;
}
.procedimentos-background .slide {
  width: 25%;
  position: relative;
  display: flex;
  flex-direction: row;
}
.procedimentos-background .slide .slide-text {
  position: absolute;
  bottom: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
}
.procedimentos-background .slide .slide-text h3 {
  font-size: 1.5rem;
  color: #363636;
  margin-bottom: 10px;
}
.procedimentos-background .slide div {
  flex: 1;
}
.procedimentos-background .slide img {
  width: 800px;
}
.procedimentos-background .manual-navigation {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}
.procedimentos-background .manual-btn {
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 16px;
  cursor: pointer;
  transition: 0.5s;
}
.procedimentos-background .manual-btn:not(:last-child) {
  margin-right: 40px;
}
.procedimentos-background .manual-btn:hover {
  background-color: #fff;
}
.procedimentos-background #radio1:checked ~ .first {
  margin-left: 0;
}
.procedimentos-background #radio2:checked ~ .first {
  margin-left: -25%;
}
.procedimentos-background #radio3:checked ~ .first {
  margin-left: -50%;
}
.procedimentos-background #radio4:checked ~ .first {
  margin-left: -75%;
}
.procedimentos-background .navigation-auto div {
  border: 2px solid #20a6ff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.procedimentos-background .navigation-auto {
  position: absolute;
  width: 800px;
  margin-top: 360px;
  display: flex;
  justify-content: center;
}
.procedimentos-background .navigation-auto div:not(:last-child) {
  margin-right: 40px;
}
.procedimentos-background #radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: #fff;
}
.procedimentos-background #radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: #fff;
}
.procedimentos-background #radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: #fff;
}
.procedimentos-background #radio4:checked ~ .navigation-auto .auto-btn4 {
  background-color: #fff;
}

.localizacao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.localizacao h3 {
  margin-top: 5dvh;
  margin-bottom: 5dvh;
  font-size: 1.5rem;
  color: #363636;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

header {
  width: 100%;
}

body {
  height: 100dvh;
  width: 100%;
  font-family: "Poppins", serif;
  position: relative;
  overflow-x: hidden;
}

p {
  font-size: 1rem;
}

button {
  cursor: pointer;
  font-size: 1rem;
}

i {
  cursor: pointer;
}

a {
  cursor: pointer;
}

img {
  width: 100%;
}

svg {
  width: 100%;
}/*# sourceMappingURL=styles.css.map */